

<body>
  <ng-container>
    <div class="row">
      <div align ="center">
        <h1> {{ places?.newData[placeId].name }} </h1>
      </div>
      <div class="row">
        <div class="col ml-2 mt-5" align="center">
          <img src="{{ places?.newData[placeId]?.images.picture_url }}" alt="No Image Found" style="box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.75);"><br /><br/>
          <div class="action-buttons mt-3">
            <button class="btn btn-dark w-20 my-1" style="border-radius: 30px;">Book A Room</button>
            <button class="btn btn-dark w-20 my-1" style="border-radius: 30px;" *ngIf="isLoggedIn==true" (click)="addToFavorites(places?.newData[placeId])" hr>Add to Favourites</button>
          </div>
        </div>
      <div class="col ml-1 mt-5">
          <p> {{ places?.newData[placeId].description }} </p>
          <h4> Address </h4>
          {{ places?.newData[placeId].address.market }}
          <br />
          {{ places?.newData[placeId].address.street }}
          <br />
          {{ places?.newData[placeId].address.suburb }}
          <br />
          {{ places?.newData[placeId].address.country }}
          <br />
          <br />
          <h3> Price: ${{ places?.newData[placeId].price }} </h3>
        <div>
          <h2> Details </h2>
          <b>Property Type: </b> {{ places?.newData[placeId].property_type }}
          <br />
          <b>Bedrooms:</b> {{ places?.newData[placeId].bedrooms }} ({{ places?.newData[placeId].beds }} beds)
          <br />
          <b>Bathrooms:</b> {{ places?.newData[placeId].bathrooms }}
          <br />
          <b>Amenities:</b>
          <div *ngFor="let amenity of places?.newData[placeId].amenities" style="margin-left: 20px;">
              <li style="list-style: none;"> {{ amenity }} </li>
          </div>
          <b>Transit:</b> {{ places?.newData[placeId].transit }}
        </div>
      </div>
    </div>
    </div>

   </ng-container>
</body>
