<!-- <div class="d-flex flex-wrap mt-2">
    <div class="card mx-auto" *ngFor="let item of favorites; let index = index" [attr.data-index]="index"
      style="width: 18rem; margin: 1rem;">
      <img src={{item.images?.picture_url}} class="card-img-top" alt="..." style="width: 18rem; height: 200px;">
      <div class="card-body" style="display: flex; flex-direction: column;">
        <h5 class="card-title">{{item.name | slice :0:50}}</h5>
        <p class="card-text">{{item.description | slice:0:100}}</p>
        <b>Price: ${{item.price}}</b>

        <button (click)="removeFromFavorites(item)" href="#" class="btn btn-dark w-100 mt-auto">Remove from Favorites</button>
        <button [routerLink]="['view-details', index]" class="btn btn-dark w-100 my-1">View Details</button>
      </div>
    </div>
  </div> -->




<div class="container-fluid">
  <div class="row mb-3" *ngFor="let item of favorites; let index = index" [attr.data-index]="index">
       <div class="col-xxl-12 col-md-10">
    <div class='container'>
  <div class='row service-container py-4 mx-md-5 mb-4'>
      <div class='col-xl-3 col-lg-4 col-12 px-5'>
            <div class='row'>
                  <div class="col-12">
                      <img src={{item.images?.picture_url}} alt=" " width="250px" class="mb-3" />
                  </div>
              </div>
        </div>
          <div class="col-xl-9 col-lg-8 col-12 px-md-5 px-3 mt-4 ml-3">
              <h3 class="card-title mb-1">{{item.name | slice :0:50}}</h3><br />
              <b class="mb-3 card-price">Price: ${{item.price}}</b>
              <p class='generic-paragraph-small'>{{item.description | slice:0:200}}</p>
            <div class='row mb-3'>
                  <div class='col-xl-6 col-12'>
                    <button (click)="removeFromFavorites(item)" href="#" class="btn btn-dark w-100 mt-auto mb-2" style=" border-radius: 30px;">Remove from Favorites</button>
                    <!-- <button *ngIf="isLoggedIn" (click)="addToFavorites(item)" href="#" class="btn btn-dark w-100 mt-auto mb-2" style=" border-radius: 30px;">Add to Favourites</button> -->
                    <button [routerLink]="['view-details', index]" class="btn btn-info w-100 my-1" style=" border-radius: 30px;">View Details</button>
                  </div>
            </div>
          </div>
      </div>
    </div>
  </div>

  </div>
  </div>

